*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


div {
    background-color: rgb(73, 66, 64);
    color: white;
    width: 300px;
    padding: 20px;
    margin-top: 20px;
    border: 10px solid rgb(201, 54, 54);
}