/* scenario 1  */
button {
    /* margin: 50px;  */
    padding:50px 20px 10px 5px;
    background-color: chocolate;
} 

/* h1 {
    background-color: aquamarine;
    margin: 50px;
    padding: 50px;
} */