/* scenario 1 */
/* button {
    padding: 50px;
    padding: 50px 20px; 
    padding: 50px 20px 30px 10px;
    padding-top
    padding
    background-color: crimson;
} */

/* scenario 2 */
/* h1 {
    margin: 50px;
    padding: 50px;
    background-color: sienna;
} */

/* scenario 3 */
h1 {
    margin: 50px;
    padding: 100px 190px;
    background-color: sienna;
}